@model Customer

<div class="caption-full">
    <h1>Låntagare: @Model.GetFullName()</h1>
    <h3 class="pull-right">Email: @Model.Email</h3>
</div>
<h4>Aktiva lån</h4>
<table class="table table-bordered table-striped">
    <thead>
        <tr>

            <th>Titel</th>
            <th>Författare</th>
            <th>Lånetid</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.BorrowedBooks)
        {
            if (book.IsReturned == false)
            {
                <tr>
         
                    <td><a asp-controller="LoanBook" asp-action="ReturnBook" asp-route-id="@book.Id">Titel: @book.Book.Title</a></td>
                    <td>@book.Book.Author</td>
                    <td>@book.StartDate - @book.EndDate</td>
                </tr>
            }
        }

    </tbody>
</table>
<h4>Gamla lån</h4>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Författare</th>
            <th>Lånetid</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.BorrowedBooks)
        {
            if (book.IsReturned == true)
            {
                <tr>
                    <td>@book.Book.Title</td>
                    <td>@book.Book.Author</td>
                    <td>@book.StartDate - @book.EndDate</td>
                </tr>
            }
        }
    </tbody>

</table>



<form>
    <button asp-controller="Customer" asp-action="EditForm" asp-route-id="@Model.Id" type="submit" name="edit">Editera</button>
</form>

<form>
    <button asp-controller="Customer" asp-action="DeleteForm" asp-route-id="@Model.Id" type="Submit" name="delete">Radera</button>
</form>